third/
Debug/
Release/
debug/
release/
build/
build32/
build64/
ipch/
*/installer/*.exe
*.ncb
*.suo
*.user
*.cache
*.old
*.sdf
*.vc9
*.filters
*.aps
dlldata.c
*_i.c
*_i.h
*_i_64.h
*_p.c
*_p64.c
*.ilk
*.pdb
*.lib
*.exp
*.dll
*.opensdf
SSO.h
test-saml2-sp.exe
iis7/DasIIS7Native/DasIIS7Filter.cpp
iis7/installer/temp_file
iis7/installer/uninit.ini
saml2-sp/bin/win32/test-saml2-spD.exe
saml2-sp/test-saml2-sp/saml2Response.b64.bak
sso-agent/SSOAgent/UpgradeLog.XML
sso-agent/SSOAgent/_UpgradeReport_Files/
DasIIS7NativeMsg.rc
DasIIS7NativeMsg.h
MSG00001.bin
SetupMemcached.exe
Test/
obj/
*.iobj
*.ipdb
.vs/
.vscode
